.font-link {
  font-family: "Sawarabi Gothic", sans-serif;
}

.hero-card {
  height: 100vh;
  width: 100%;
}

.hero-card_modelS {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/e90a341e-f9ca-4aa1-8eab-94afea118786/bvlatuR/std/2880x1800/M3-Homepage-D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
