.font-link {
  font-family: "Sawarabi Gothic", sans-serif;
}

#hidden {
  display: none;
}

.hero-card {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &.hero-card_1 {
    background-image: url("../../public/img/M3-Homepage-D.jpeg");
  }
  &.hero-card_2 {
    background-image: url("../../public/img/Desktop-ModelY.jpeg");
  }
  &.hero-card_3 {
    background-image: url("../../public/img/ms-homepage-desktop.jpeg");
  }
  &.hero-card_4 {
    background-image: url("../../public/img/ModelX-Homepage-D.jpeg");
  }
  &.hero-card_5 {
    background-image: url("../../public/img/_25-HP-SolarPanels-D.jpeg");
  }
  &.hero-card_6 {
    background-image: url("../../public/img/HP-SR-Design-D.jpeg");
  }
  &.hero-card_7 {
    background-image: url("../../public/img/Desktop-Accessories.jpeg");
  }

  & .chevron-down {
    background-color: transparent;
    inline-size: 24px;
    block-size: 24px;
    max-inline-size: 100%;
    min-block-size: 24px;
    min-inline-size: 24px;
    transition: fill 0.3s ease, stroke 0.3s ease;
  }
}

.hero-card_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 100px;

  & h1 {
    font-size: 40px;
  }

  & p {
    font-size: inherit;
  }
}

.hero-text {
  border-radius: 20px;
  padding: 4px 64px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

span {
  display: inline-block;
}

.product-btn {
  position: relative;
  top: -5rem;
  margin-top: 450px;
  text-transform: uppercase;
  font-size: 12px;
}

.button-group {
  display: flex;
  gap: 25px;
  position: relative;
  bottom: -10vw;
}

.custom-btn {
  background-color: #343a40;

  &:link,
  &:visited {
    color: #e9ecef;
  }
}

.inventory-btn {
  background-color: #e9ecef;

  &:link,
  &:visited {
    color: #495057;
  }
}

.custom-btn,
.inventory-btn {
  border-radius: 20px;
  padding: 10px 64px;
  text-decoration: none;
}

.link-description {
  color: #000;
  display: inline-block;
  text-decoration: underline;
  margin-left: 5px;

  &:link,
  &:visited {
    color: #000;
  }

  &:active,
  &:hover {
    color: #777;
  }
}

.animate-chevron_bounce {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: chevron_bounce;

  &[role="button"] {
    cursor: pointer;
  }
}

@keyframes chevron_bounce {
  from {
    height: 0px;
  }
  to {
    height: 500px;
  }
}

.chevron-down {
  position: absolute;
  bottom: 5%;
  right: 50%;
}

@media only screen and (max-width: 821px) {
  .product-btn {
    position: relative;
    top: 15rem;
    text-transform: uppercase;
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .hero-card {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.hero-card_1 {
      background-image: url("../../public/img/M3-Homepage-mobile.jpeg");
    }
    &.hero-card_2 {
      background-image: url("../../public/img/Mobile-ModelY.jpeg");
    }
    &.hero-card_3 {
      background-image: url("../../public/img/ms-homepage-mobile.jpeg");
    }
    &.hero-card_4 {
      background-image: url("../../public/img/ModelX-Homepage-mobile.jpeg");
    }
    &.hero-card_5 {
      background-image: url("../../public/img/_25-HP-SolarPanels-mobile.jpeg");
    }
    &.hero-card_6 {
      background-image: url("../../public/img/HP-SR-Design-Mobile.jpeg");
    }

    & .chevron-down {
      background-color: transparent;
      inline-size: 24px;
      block-size: 24px;
      max-inline-size: 100%;
      min-block-size: 24px;
      min-inline-size: 24px;
      transition: fill 0.3s ease, stroke 0.3s ease;
    }
  }

  .hero-card_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 100px;

    & h1 {
      font-size: 40px;
      white-space: nowrap;
    }

    & p {
      font-size: inherit;
    }
  }

  .product-btn {
    position: relative;
    top: 8rem;
    text-transform: uppercase;
    font-size: 12px;
  }

  .button-group {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-evenly;
    gap: 10px;
    position: relative;
    top: -220px;
    z-index: 0;
  }

  .custom-btn,
  .inventory-btn {
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 100px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
  }
}
