.header {
  min-height: 60px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 20px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  font-family: "Sawarabi Gothic", sans-serif;
}

.header-logo {
  width: 10em;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.header-nav .header-nav-links {
  font-weight: 600;
  padding: 0 10px;
  flex-wrap: nowrap;
  color: black;
  font-family: "Sawarabi Gothic", sans-serif;
}

@media (max-width: 900px) {
  .header-nav {
    display: none;
  }
}

// .header-nav-menu {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex: 1;
// }

.header-nav-menu .header-nav-links {
  font-weight: 600;
  margin-right: 10px;
  color: black;
}
:hover.header-nav-links {
  background-color: #90909054;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  padding: auto;
}
.menu {
  cursor: pointer;
}

.header-nav-links {
  text-decoration: none;
  color: black;
}

.hidden-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background: white;
  width: 300px;
  transform: translateX(100%);
  z-index: 10;
  padding: 20px;
  transition: 0.3s ease-in-out;
}
.hidden-menu ul li {
  list-style: none;
  padding: 15px;
}
.show {
  transform: translateX(0);
  transition: 0.3s ease-in-out;
}
