.order-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: 1rem 2fr;
    background-color: black;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.order-section-title {
    color: white;
    margin: 2rem;
    text-align: center;
    // grid-column: 1/ span 2;
    // grid-column: span 2;
}

.order-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    // text-align: center;
    width: 50%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.order-now-button,
.compare-button {
    background: transparent;
    padding: .7rem 4rem;
    text-transform: uppercase;
    color: white;
    border: 5px solid white;
    border-radius: 2rem;
    margin: .5rem;
    text-align: center;
}

.order-image-section img {
    width: 100%;
}

@media screen and (max-width: 900px) {
    .order-section {
        grid-template-columns: 1fr;
    }

    .order-buttons {
        grid-template-columns: 1fr;
    }
}