* {
    font-family: "Sawarabi Gothic", sans-serif;
}

.orderNow-btn {
    background-color: white;
    padding: .7rem 4rem;
    border-radius: 3rem;
    border: 5px solid black;
    font-size: 1rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin: 2rem;
}