* {
  font-family: "Sawarabi Gothic", sans-serif;
}

.solar {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  justify-content: flex-start;
  overflow-y: hidden;
  overflow: scroll;
}
.solar-hero-wrapper {
  margin: 0;
  width: 100vw;
}
.solar-hero {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.solar-hero-details {
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 15vw;
  left: 0;
  right: 0;
}
.font-white {
  color: white;
}
.solar-hero-title {
  font-size: 2em;
}
.solar-cards {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.solar-card-details {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  width: 28vw;
  padding: 2rem;
}
.solar-card-header {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}
.solar-card-subtitle {
  font-size: 17pt;
}
.solar-card-title {
  font-size: 30pt;
}
.orderNow-button {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}
.orderNow-button span {
  text-align: center;
  border-style: solid;
  border-radius: 20px;
  margin: 3em auto;
  padding: 0.5em 3.5em;
  font-size: 10pt;
  text-transform: uppercase;
  cursor: pointer;
}
.solar-img {
  grid-column: 2/3;
}
.solar-img img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: contain;
}


@media only screen and (max-width: 821px) {
  .solar-cards {
    display: grid;
  grid-template-columns: repeat(3, 2fr);
  }

  .solar-card-title {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .solar-img {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .solar-card-description {
    display: grid;
    grid-column: 2/4;
    grid-row: 1/2;
    align-items: center;
  }

  .solar-card-details {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 5px;
  }

  .solar-img img {
    display: grid;
    height: 65vh;
    object-fit: contain;
  }

  .orderNow-button {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    border: none;
  }
}

@media only screen and (max-width: 500px) {
  .solar-hero-details {
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 40vw;
    left: 0;
    right: 0;
}

  .solar-card-header {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

  .solar-card-description {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    align-items: center;
  }

  .solar-card-details {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 5px;
    padding: 1rem;
  }

  .solar-img img {
    display: grid;
    height: 49vh;
    object-fit: contain;
  }

  .orderNow-button {
    display: grid;
    grid-column: 1/2;
    grid-row: 3/4;
    border: none;
}
}

